.container-orders{
    border-top: 1px solid black;
    margin:2rem ;
  
  }
  button{
      margin-top:1rem;
      border-radius: 13px;
      margin-right: 1rem;
  
  }
  p{
      margin: 1rem;
  }
  h1{
      font-size:1.5rem;
  }
  .price{
      color:red;
  }
  