.container-orders{
    border-top: 1px solid black;
    margin:2rem ;
  
  }
  .button-order{
      margin-top:1rem;
      border-radius: 13px;
      margin-right: 1rem;
  
  }
  .p-order{
      margin: 1rem;
  }
  .h1-order{
      font-size:1.5rem;
  }
  .price-order{
      color:red;
  }
  