.cont-contact{
    display: flex;
    align-items: center;
 }
 .container-Contact{
    width: 80%;
    margin:auto;
 }
 .form-c{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .formC input{
    border:none;
    border-bottom: 1px solid black;
 }
.sbm-btn{
    width:50%;
    margin:auto;
    border-radius: 10px;
    margin-top:1rem;
    
}