 .footer {
    color: rgb(0, 0, 0);
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    
  }
  
  .socialMedia  {
    color: rgb(1, 1, 1);
    
    margin: 20px ;
    font-size: 50px;
    cursor: pointer;
  }
  .socialMedia i{
    margin :10px;

  }
  .socialMedia i:hover{
    cursor: url("../../images/cursor-removebg-preview.png"), pointer;
  }