.header{
    background-color:#ffffff;
  
}
 
.logo-nav{
 
    width:200px;
    cursor: url("../../images/cursor-removebg-preview.png"), pointer;
}

.navbar{ 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   
}
.nav-links { 
   

       gap: 60px;
    display: flex;
    flex-direction: row;
align-items: center;}

.nav-links li a{

     text-decoration: none;

    margin-right: 15px;

    text-shadow: 3px 3px 20px #000000,
    -2px 1px 30px #000000;   
     color:rgb(0, 0, 0);
     font-size: 24px;
 font-family: 'Caveat', cursive;



}

  /* This is not working and i cant figure out why */


  .nav-links li a:hover{
    cursor: url("../../images/cursor-removebg-preview.png"), pointer;
    color:white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
i{margin-right:1rem}